* {
    font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

body {
    margin: 0px auto;
    background-color:#dedede;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	height:320px;
}


.content_text {
	margin: auto;
	font-weight:bold;
	font-size:5em;
	color:#120f12;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
  align-items: center;
}